{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<h1>Welcome back, {{ user.first_name }} {{ user.last_name }}</h1>
<hr>

<div>
    <p>The following subjects are currently available:</p>
    <ul>
        {% for obj in subjects %}
        <li><b>{{ obj.subject }}</b> -- Start date: {{ obj.start_dt }} - End date: {{ obj.end_dt }}</li>
        {% endfor %}
    </ul>
</div>
<div>
    <p>You are currently enrolled in the following classes:</p>
    <ul>
        {% for obj in user_enrolments %}
        <li><b>{{ obj.subject }}</b></li>
        {% empty %}
        <li><b>You are not currently enrolled in any subjects. Please contact <a
                    href="mailto: support@instatute.com">Instatute Support</a>.</b></li>
        {% endfor %}
    </ul>

    <p>If you would like to make changes to your enrolments please contact <a
            href="mailto: support@instatute.com">Instatute Support</a>. Students cannot self-enrol.</p>
</div>

<div>
    <ul>
        {{ class_members }}
    </ul>
</div>

<hr>

<div class="col-12 col-md-12 p5">
    <main class="mt-5 pt-3">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="mb-5 ">
                    <h1>Dashboard <i class="bi bi-slack"></i></h1>
                    <h5>Welcome back, {{ user.first_name }} {{ user.last_name }}</h5>
                </div>
            </div>
            <div class="row mb-5 d-flex justify-content-centent">
                <div class="col-md-3">
                    <div class="card border-light p-3   shadow-sm" style="width: 18rem;">
                        <div class="card-body">
                            <h1 class="number mb-3 display-2 text-center">10</h1>
                            <h5 class="card-title text-center">Total completed quizzes</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-light p-3 shadow-sm" style="width: 18rem;">
                        <div class="card-body">
                            <h1 class="number mb-3 display-2 text-center">3</h1>
                            <h5 class="card-title text-center">Total class enrollment</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-light p-3 shadow-sm" style="width: 18rem;">
                        <div class="card-body">
                            <h1 class="number mb-3 display-2 text-center">79%</h1>
                            <h5 class="card-title text-center">Average score</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  p-3 shadow-sm bg-warning" style="width: 18rem;">
                        <div class="card-body">
                            <h1 class="number mb-3 display-2 text-center">8</h1>
                            <h5 class="card-title text-center">Rank No.</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <div class="card p-3 my-3 shadow-sm">
                        <h5>Classes</h3>
                        <ul>
                            {% for obj in user_enrolments %}
                            <li>{{ obj.subject }}</li>
                            {% empty %}
                            <li><b>You are not currently enrolled in any subjects. Please contact <a href="mailto: support@instatute.com">Instatute Support</a>.</b></li>
                            {% endfor %}
                        </ul>
                        <!-- <button type="button" class="btn  bg-warning">All classes</button> -->
                    </div>
                </div>
                <div class="col-6">
                    <div class="card p-3 my-3 shadow-sm">
                        <h5>Quizzes</h5>
                        <a href="{% url 'quiz:main-view' %}" class="btn bg-warning m-3">View Available Quizzes</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="card body shadow-sm p-3">
                    <h5>Leaderboard</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Rank No</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Completed quizzes</th>
                                <th scope="col">Average Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark Otto</td>
                                <td>2</td>
                                <td>79%</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Jacob Bird</td>
                                <td>5</td>
                                <td>80%</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>4</td>
                                <td>65%</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <button type="button" class="btn col-2 bg-warning">See Full Leaderboard</button> -->
                </div>
            </div>
        </div>
</div>
</main>
</div>

{% endblock content %}