{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<div class="col-12 col-md-12 p5">
    <main class="pt-3">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="mb-5 ">
                    <h1>Dashboard</h1>
                    <h5>Welcome back, {{ user.first_name }} {{ user.last_name }}</h5>
                </div>
            </div>
            <div class="row mb-5 d-flex justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="card border-light p-3 shadow-sm">
                        <div class="card-body">
                            <h1 class="number mb-3 display-2 text-center">{{ quiz_count }}</h1>
                            <h5 class="card-title text-center">Total completed quizzes</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card border-light p-3 shadow-sm">
                        <div class="card-body">
                            <h1 class="number mb-3 display-2 text-center">{{ enrolments_count }}</h1>
                            <h5 class="card-title text-center">Total class enrolments</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card border-light p-3 shadow-sm">
                        <div class="card-body">
                            <h1 class="number mb-3 display-2 text-center">{{ avg_score }}</h1>
                            <h5 class="card-title text-center">Average score</h5>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <div class="card p-3 my-3 shadow-sm">
                        <h5>Classes</h3>
                            <ul>
                                {% for obj in user_enrolments %}
                                <li>{{ obj.subject }}</li>
                                {% empty %}
                                    {% if not user.is_superuser %}
                                    <li class="text-danger">You are not currently enrolled in any subjects. Please contact
                                        <a href="mailto: support@instatute.com">Instatute Support</a>.</b></li>
                                    {% endif %}
                                    {% if user.is_superuser %}
                                    <li class="text-primary">You are not enrolled in any subjects because you are an admin user. You can <a href="{% url 'classes' %}">view a list of all classes</a>.</b></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <!-- <button type="button" class="btn  bg-warning">All classes</button> -->
                    </div>
                </div>
                <div class="col-6">
                    <div class="card p-3 my-3 shadow-sm">
                        <h5>Quizzes</h5>
                        <p>These are the quizzes available for you to attempt. Click the button below to attempt a quiz.</p>
                        <ul>
                            {% for obj in quizzes %}
                                <li>{{obj.subject}} - {{obj.name}}</li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'quiz:main-view' %}" class="btn bg-warning m-3">View and Attempt Available Quizzes</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="card body shadow-sm p-3">
                    <h5>Results</h5>
                    <p>
                    <table class="table table-striped table-bordered">
                        <th>Subject</th>
                        <th>Quiz Name</th>
                        <th>Score</th>
                        {% for i in user_results %}
                        <tr>
                            <td>{{ i.subject }}</td>
                            <td>{{ i.quiz }}</td>
                            <td>{{ i.score }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    </p>

                </div>
            </div>
        </div>
    </main>
</div>

{% endblock content %}