{% extends "base.html" %}

{% load static %}

{% block scripts %}
<script src="{% static 'quiz/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
My Classes

{% endblock title %}

{% block content %}

<div class="h1"><i class="bi bi-book p-2"></i> Classes</div>
<hr>

<div class="row mb-5 mt-5 d-flex justify-content-center">

    {% for obj in subjects %}

    <div class="col-lg-4">
        <div class="card m-2">
            <img class="card-img-top" src="{% static 'images/class.png' %}" alt="Generic Class Image">
            <div class="card-body">
                <h5 class="card-title">{{obj.subject}}</h5>
                <h6 class="card-title">Start date: {{ obj.start_dt }}</h6>
                <h6 class="card-title">End date: {{ obj.end_dt }}</h6>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}